# Читаем данные

In [29]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
%matplotlib inline
data = pd.read_csv('numeric sequence.csv', sep = ',', engine = 'python')
processed_data = data
for i in range (1, 15):
     processed_data['feature'+str(i)] = data['feature'+str(i*2-1)]*2 + data['feature'+str(i*2)]
to_drop=[]
for i in range (15, 29):
    to_drop.append('feature'+str(i)) 
processed_data = processed_data.drop(to_drop, 1).drop('label', 1)
#processed_data = processed_data.replace(0, 'A')\
#                               .replace(1, 'T')\
#                               .replace(2, 'C')\
#                               .replace(3, 'G')
#processed_data = pd.get_dummies(processed_data)
processed_data=pd.concat((processed_data, data['label']), axis = 1)
data = processed_data
data

,feature1,feature2,feature3,feature4,feature5,feature6,feature7,feature8,feature9,feature10,feature11,feature12,feature13,feature14,label
0,0,1,2,2,3,1,1,1,2,2,3,3,3,1,1
1,3,3,2,1,1,1,1,2,3,3,3,2,1,0,1
2,2,2,2,1,3,2,1,2,1,3,2,2,1,3,1
3,2,3,2,1,2,2,2,2,3,3,2,3,3,2,1
4,3,3,3,2,3,3,3,3,2,2,1,3,3,3,1
5,0,0,3,3,3,3,2,3,1,3,3,2,3,3,1
6,3,0,0,2,2,1,2,2,2,2,3,2,3,3,1
7,2,2,2,2,3,2,3,3,3,3,3,0,3,3,1
8,0,3,3,3,3,3,1,0,3,3,3,3,3,3,1
9,0,3,3,3,3,3,1,0,3,3,3,3,3,3,1
10,2,2,2,2,2,2,1,0,2,2,2,2,2,1,1
11,2,3,3,0,2,2,2,1,1,1,0,0,3,0,1
12,2,3,1,3,3,2,0,1,2,3,3,3,3,2,1
13,1,2,3,2,3,2,3,2,2,3,3,2,1,3,1
14,1,3,2,2,1,3,3,1,3,2,2,1,3,3,1
15,2,2,3,3,0,1,2,0,3,3,2,2,0,2,1
16,2,2,3,3,0,1,2,0,3,3,2,2,0,2,1
17,3,2,2,3,2,2,3,2,2,3,2,2,1,2,1
18,3,2,2,3,1,2,3,0,2,2,2,2,3,3,1
19,3,3,2,1,1,0,3,3,3,0,3,2,3,3,1
20,3,2,3,3,2,3,3,3,2,3,0,3,3,3,1
21,3,2,3,3,2,3,3,3,2,3,0,3,3,3,1
22,2,3,2,0,2,3,3,2,3,3,3,3,3,2,1
23,2,3,3,2,2,3,1,3,3,0,3,2,1,1,1
24,2,0,0,0,0,2,1,2,2,3,3,0,3,3,1
25,2,3,3,0,2,2,2,3,3,2,3,2,3,3,1
26,2,2,3,2,3,2,2,3,3,3,1,2,2,3,1
27,2,0,2,0,0,2,0,0,0,3,3,3,0,2,1
28,1,2,2,1,2,2,2,3,1,2,1,3,2,2,1
29,2,0,3,1,1,3,3,3,1,1,1,3,2,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2370,3,0,3,2,2,0,3,0,2,0,1,3,3,1,0
2371,1,1,2,1,3,1,1,1,1,0,1,1,1,0,0
2372,3,0,3,1,2,1,0,0,0,2,0,0,1,0,0
2373,3,3,1,0,3,0,3,3,3,3,3,0,0,0,0
2374,1,1,0,0,2,1,0,1,3,1,3,0,2,2,0
2375,2,1,2,0,1,2,1,1,3,0,0,1,1,3,0
2376,0,1,1,0,1,0,1,2,0,0,3,1,0,0,0
2377,0,0,0,2,0,0,3,0,3,2,2,2,0,3,0
2378,0,1,1,0,2,1,1,1,3,1,0,0,1,1,0
2379,2,0,0,1,0,2,1,3,0,1,1,0,1,1,0
2380,0,0,0,0,1,0,2,2,0,1,1,1,2,2,0
2381,0,0,0,0,0,0,0,0,0,0,0,0,3,0,0
2382,0,2,1,2,0,2,3,3,1,1,2,2,0,2,0
2383,0,3,0,3,0,3,2,1,1,3,3,0,0,3,0
2384,0,0,0,3,0,0,1,0,0,0,0,1,3,1,0
2385,0,1,1,3,3,1,3,1,0,1,0,0,3,0,0
2386,3,0,3,0,0,0,0,0,0,0,1,1,2,2,0
2387,0,2,2,0,3,0,1,0,3,2,1,3,0,1,0
2388,1,1,3,1,1,2,2,1,0,0,1,3,0,3,0
2389,2,2,1,2,0,0,3,1,1,0,2,0,3,1,0
2390,3,3,0,0,1,0,3,3,0,0,2,0,0,1,0
2391,3,1,1,1,2,0,1,0,0,0,3,0,0,0,0
2392,3,1,1,3,2,0,3,2,1,3,0,0,0,3,0
2393,0,3,2,0,1,0,3,0,3,0,0,2,2,2,0
2394,0,0,2,0,1,3,0,2,0,0,0,1,2,1,0
2395,3,0,0,0,0,3,0,1,1,1,0,3,3,3,0
2396,0,3,3,2,0,3,3,0,3,0,0,1,2,0,0
2397,1,2,3,1,1,1,0,1,1,1,0,1,1,1,0
2398,1,1,1,0,1,0,0,1,2,0,1,1,1,0,0
2399,0,1,2,1,0,1,2,1,2,1,2,2,3,0,0

# Разобьем данные на тренеровочные и тестовые

In [30]:
from sklearn.model_selection import train_test_split

X, X_test, y, y_test = train_test_split(data.drop('label', axis=1), data['label'], test_size = 0.33, 
                                                    random_state = 2)

 # Линейный дискриминантный анализ

In [31]:
from sklearn import discriminant_analysis
lda_model = discriminant_analysis.LinearDiscriminantAnalysis()
lda_model.fit(X.values, y.values)

LinearDiscriminantAnalysis(n_components=None, priors=None, shrinkage=None,
              solver='svd', store_covariance=False, tol=0.0001)

## Смотрим, как точно получилось

In [32]:
err_train = np.mean(y != lda_model.predict(X)) # Ошибка на обучающей выборке
err_test = np.mean(y_test != lda_model.predict(X_test)) # Ошибка на тестовой выборке
print (err_train, err_test)

0.162313432836 0.152777777778

# Квадратичный дискриминантный анализ

In [36]:
qda = discriminant_analysis.QuadraticDiscriminantAnalysis()
qda.fit(X.values, y.values)

QuadraticDiscriminantAnalysis(priors=None, reg_param=0.0,
               store_covariance=False, store_covariances=None, tol=0.0001)

In [38]:
err_train = np.mean(y != qda.predict(X)) # Ошибка на обучающей выборке
err_test = np.mean(y_test != qda.predict(X_test)) # Ошибка на тестовой выборке
print (err_train, err_test)

0.154228855721 0.155303030303

На самом деле эти методы не совсем применимы к набору данных, так как все признаки категориальные. И, применяя рассмотренные методы, мы вводим способ сравнения аденина, гуанина, цитозина и тимина.

kNN давал результаты лучше